@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* Set the transform origin to the top center */
    transform: scale(0.8);
    transform-origin: top center;
    
    /* Because scale(0.8) makes the element take up 20% less visual space 
       but keeps the original "box" size, we adjust the width/height */
    width: 125%; /* 1 / 0.8 = 1.25 */
    height: 125%;
    overflow-x: hidden;
  }
}